---
import Layout from '../layouts/Layout.astro'
---
<Layout title="acerca">

	<h1>Acerca de</h1>
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis est iste nobis autem consequatur repudiandae amet eveniet debitis, suscipit consequuntur id, voluptatum sunt! Quaerat quisquam reiciendis, quod sed voluptatum nemo, nesciunt officia iusto laudantium excepturi enim error accusamus fugiat veritatis repellat sit. Tempora deserunt nostrum exercitationem nulla adipisci nihil recusandae odit, explicabo provident autem inventore quia excepturi delectus vel nisi, odio quae, distinctio porro eaque nam quod neque velit esse? Rem ex illo nisi reprehenderit voluptas eligendi voluptatum ipsa et distinctio exercitationem debitis culpa quidem a tempore dolore ea velit ut porro ipsam minus tempora sunt repudiandae, quo laudantium. Explicabo?
	
</Layout>
